
.about__contant_text{
	width:31.9%;
	padding: 110px 0 140px 0;
	vertical-align: top;
	float: left;
	color: #000000;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	margin-left: 6.7%;
}
.about_img_woman{
	width: 120%;
}
.about_contant{
			
}
.about_box_img{
	float: right;
    width: 54.7%;
    position: relative;
    right: 0;
    top: -90px;
    z-index: -1;
}
.about_img{

}
.clearfix,
.about_contant::after{
	content: '';
	display: table;
	clear: both;
}