.container {
    max-width: 950px;
    margin: 0 auto;
}

.title {
    text-align: center;
    color: #000000;
    font-size: 40px;
    font-weight: 400;
    text-transform: uppercase;
}


.title::after {
    content: '';
    display: block;
    width: 42px;
    height: 2px;
    margin: 3.4% auto 0;
    background: #d55727;
}
.clearfix::after,
.contact_item::after,  
.clearfix 
{
    display: table;
    content: '';
    clear: both;
    overflow: hidden;
}
textarea, 
textarea:active, 
textarea:focus {
    outline: none;
    resize: none;
}
button, 
button:active, 
button:focus{
   outline: none;
   border: none; 
}
img{
   width:100%;
}