

.section_contact{
	background: url('../images/pic/bg/bg_contact.png') no-repeat center ;
	background-size: cover; 
	
	
}
.contact_box{
	background: rgba(0, 0, 0, 0.5);
	padding: 7.4% 0 7.4% 0;
	 

}
.title_contact{
	color:  #f8f8f8;
}

.contact_question_email{
	margin-top: 20px;	
}
.contact_content_link{
	text-decoration: none;
	color: white;
}
.contact_question_form_massage{
	padding: 10px 0 176px 0;
	margin-top: 20px;
	font-family: Arial;

}
.contact_question_form{
	
}
.contact_form{
	width: 100%;
	height: 52px;
	border: 1px solid #d55727;
	color: #f8f8f8; 
	background-color: rgba(0, 0, 0, 0.5);
	line-height: 14px
}
.contact_question_name::placeholder,
.contact_question_email::placeholder,
.contact_question_form_massage::placeholder{
	color: #f8f8f8;
	padding: 10px 0 0 10px;
}
.contact_batton{
	max-width: 156px;
	padding: 14px 54px;
	background-color: rgba(213, 87, 39,0.8);
	border-radius: 4px;
	margin: 15px 0 0 0;
	display: inline-block;  
	color: #f8f8f8;
	font-size: 18px;
	text-align: center;
	cursor: pointer;
}
.contact_content{
	margin: 0 0 0 6.3%;
	float: right;
	width: 46%;
	padding-top: 9.5%;
	min-width: 210px;
}
.contact_question{
	float: left;
	padding-top: 9.5%;
	width: 47.4%;
	min-width: 210px;
}

.contact_content_text{
	font-size: 14px;
	line-height: 24px;
	margin-bottom: 35px; 
	color: #f8f8f8;
}
.contact_content_img{
	vertical-align: middle;
	margin-right: 10px;
	width: auto;
}
