 
 @media screen and (max-width: 1024px){
 .about_img_woman{
 	width: 100%;
 }

 @media screen and (max-width: 950px){
	.contact_question{
		padding: 9.5% 0 0 0;
	}
	.contact_content{
		margin: 0;
		padding: 9.5% 9px 0 9px;
	}
}

@media screen and (max-width: 840px){
	.about_box_img{
		display: none;
	}
	.about__contant_text{
		float: none;
		width: auto;
		margin: 0;
	}
	.gallery {
        display: inline-block;
        width: 50%;
    }
}

@media screen and (max-width: 640px){
	.section_menu{
		position: absolute; 
		visibility: hidden;
		top: 0;
		right: 0;
		left: 0;
		background: rgba(54, 183, 179, .8);
		transition: all .5s ease;
		opacity: 0;

	}
	.menu_content_button{
		display: block;
		padding: 0;
		margin: 0;
	}
	
	#check_head:checked ~ .section_menu{
		
		visibility: visible;
		opacity: 1;
		
	}
	
	#check_head:checked ~ .section_header>.container>.button_header{
		transform: rotate(180deg);		
	}
}

@media screen and (max-width: 600px){
	.contact_question, 
	.contact_content{
		float: none;
		width: auto;
	}
	.menu_content_button{
		line-height: 50px;
	}
}
@media screen and (max-width: 480px) {
    .gallery {
        width: 100%;
    }

    .gallery {
        display: none;
    }

    .gallery:nth-child(2) {
        display: block;
    }

    #check:checked~.gallery {
        display: block;
    }

    #check:checked~.button-portfolio {
        transform: rotate(180deg);
        padding: 0 0 2.2%;
    }
    .botton__bottom_img,
    .button_down_img{
		width: 20px;
			
	}
	.botton_bottom_item,
	.button_down_fix{
		width:  40px;
		line-height: 42px;
	}
	
}	
