
 /*---------START ABOUT-----------*/
 @media screen and (max-width: 1024px){
 .about_img_woman{
 	width: 100%;
 }
@media screen and (max-width: 840px){
	.about_box_img{
		display: none;
	}
	.about__contant_text{
		float: none;
		width: auto;
	}
 }	
}
/*-----------END ABOUT----------*/
/*-----------START CLIENTS----------*/
@media screen and (max-width: px){
	
 }
 /*---------END CLIENTS-------------*/
 /*---------START CONTACT-----------*/
@media screen and (max-width: 950px){
	.contact_question{
		padding: 9.5% 9px 0 9px;
	}
	.contact_content{
		margin: 0;
		padding: 9.5% 9px 0 9px;
	}
@media screen and (max-width: 600px){
	.contact_question, .contact_content{
		float: none;
		width: auto;
	}
}	
/*---------END CONTACT------------*/
/*---------START FOOTER-----------*/


@media screen and (max-width: 480px){
	.botton__bottom_img{
		width: 20px;
			
	}
	.botton_bottom_item{
		width:  40px;
		line-height: 42px;
	}

/*--------START PORTFOLIO----------*/
@media screen and (max-width: 840px) {
    .gallery {
        display: inline-block;
        width: 50%;
    }
}
@media screen and (max-width: 497px) {

    .gallery {
        width: 100%;
    }

    .gallery {
        display: none;
    }

    .gallery:nth-child(2) {
        display: block;
    }

    #check:checked~.gallery {
        display: block;
    }

    #check:checked~.button-portfolio {
        transform: rotate(180deg);
        padding: 0 0 2.2%;
    }

/*-----------END PORTFOLIO------------*/