.section-portfolio {
    padding-top: 5.4%;
    text-align: center;
}

.title-portfolio {
    padding-bottom: 6.9%;
}

.portfolio {
    font-size: 0;
}

.gallery {
    display: inline-block;
    width: 33.33%;
    min-width: 220px;
}

.button-portfolio {
    display: inline-block;
    cursor: pointer;
    padding-top: 2.2%;
}

.button-portfolio_img:hover{
    background-color: rgba( 0, 0, 0, .1);
    box-shadow: 0 0 10px black;
}

#check {
	display: block;
	margin: 0;
    height: 0;
}