.section-services {
    background: #f8f8f8;
    padding: 5.5% 0 8.4%;
}

.services-list {
   text-align: center;
}

.services-list-item {
    padding-top: 7%;
    display: inline-block;
    width: 33%;
    min-width: 200px;
}

.services_description {
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    padding-top: 11.2%;
}

.services-icon {
    line-height: 65px;
    margin: 0 auto;
    background: #d55727;
    width: 64px;
    border-radius: 32px;
}

.services-icon-img  {
    vertical-align: middle;
    width: auto;

}